body{
    background-color: beige;
}

.banner{
    margin:auto;
    width: 30%;
    color: blue
}

.login{
    border:black solid 1px;
    width:500px;
    height: 300px;
    margin-left: 900px;
    border-radius:20px;
    background-color:lightblue;
}

.text-filed{
    margin-top: 10px;
    margin-left: 50px;
    height:35px;
    font-size: 30px;
    border-radius:10px
}
.btn{
    border:solid 1px;
    margin-top: 10px;
    margin-left: 150px;
    height:35px;
    border-radius:10px;
    width:150px;
    background-color:skyblue
  
}

